@charset "utf-8";
/* CSS Document */

.topper{
	width:100%;
	color: #999;
	padding-top:5px;
	padding-bottom:5px;
	line-height:40px;
	background-color: #e5e5e5;
}

.topper i{ padding-left:20px; }

.topper a{
	height: 40px;
	color: #999;
}

.welcome{
	width:100%;
	padding-top:5px;
	line-height:100px;
}

.welcome h3{
	color:#9e9e9e;
	font-size:25px;
	font-style:italic;
}

.welcome h1{
	color:#545454;
	font-size:45px;
}

.menu{
	width:100%;
	float:left;
	background-color:#efdbef;
}

.menu h2{
	color: #F2BC14;
}

.slider{
	width:100%;
	height:auto;
	float:left;
}

.place{
	width:100%;
	float:left;
	height:auto;
	text-align:center;
	padding-top:40px;
	background-color: #F5F5F5;
	margin-bottom:50px;
}

.place h3{
	padding-top: 10px;
	color:#000;
	font-size:30px;
	color:#c84d3a;
}

.place p{
	font-size:17px;
	padding-top:20px;
	padding-bottom:20px;
}

.place-btn{
	background-color: #c84d3a;
    border: 1px solid;
    border-radius: 25px;
    color: #fff;
    margin-left: 95px;
    margin-top: 20px;
    padding: 16px;
}

.slider2{
	width:100%;
	float:left;
	height:auto;
	text-align:center;
}

.slider2 p{
	font-size:17px;
	padding-top:20px;
	padding-bottom:20px;
}

.slider2 h2 { color: #000; }

.videos{
	width:100%;
	float:left;
	height:auto;
	text-align:center;
	padding-top:20px;
	background-color: #F5F5F5;
	margin-bottom:50px;
}

.videos h3{
	padding-top: 10px;
	color:#000;
	font-size:30px;
	padding-bottom:20px;
	color:#c84d3a;
}


.videos-btn{
	background-color: #c84d3a;
    border: 1px solid;
    border-radius: 25px;
    color: #fff;
    margin-left: 95px;
    margin-top: 20px;
    padding: 16px;
}


.seabeach{
	width:100%;
	float:left;
	height:auto;
}

.seabeach h2{
	padding-top: 20px;
	color:#1154AC;
	text-align:center;
}

.seabeach h5{
	font-size:17px;
	padding-top:20px;
	text-align:center;
	padding-bottom:40px;
}

.seabeach-left{
	float:left;
	padding-left: 20px;
}

.seabeach-left h4{
	text-align:left;
}

.footer-up{
	background-color:#F5F5F5;
	width:100%;
	float:left;
}

.footer-up li{
	text-decoration:none;
	display:inherit;
}

.footer-down{
	width:100%;
	float:left;
	background-color:#EFDBEF;
	line-height:40px;
}

.footer-down p{
	padding-top:10px;
	font-size:16px;
}